   
.container
{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.title-centered {
    text-align: center;
    margin: 40px 0;
}

    .title-centered h1 {
        font-weight: 700;
        font-size: 36px;
        margin: 0;
    }

    .title-centered p {
        font-size: 16px;
        color: #5e5e5e;
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 1.5;
    }

        .title-centered p a {
            cursor: pointer;
            text-decoration: none;
            color: inherit;
        }

            .title-centered p a img {
                display: inline-block;
                vertical-align: middle;
                border-radius: 50%;
                margin-left: 5px;
            }

            .title-centered p a span {
                text-decoration: underline;
            }

.row {
    margin-right: 5px;
    margin-left: 5px;
}

    .row img {
        margin-bottom: 2.5rem;
        display: block;
        width: 100%;
        height: auto;
    }

        .row img:hover {
            opacity: 0.9;
        }

    .row video {
        max-width: 100%;
        margin-bottom: 2.5rem;
    }

        .row video:hover {
            opacity: 0.9;
        }

.level {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 3rem 0rem;
}

.level_leftphoto {
    align-items: center;
    justify-content: flex-start;
}

.level_item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
}

    .level_item a {
        cursor: pointer;
        text-decoration: none;
        color: #333;
    }

        .level_item a:hover {
            text-decoration: none;
            color: #333;
        }

.mini_profile {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 40px;
}

.mini_profile_img {
    margin-right: 10px;
    max-width: 52px;
    max-height: 52px;
    min-width: 52px;
    min-height: 52px;
}

.mini_profile_text {
    max-width: 150px;
    margin-left: 10px;
}

.mini_profile_text_title {
    margin-top: 0;
    margin-bottom: 0;
    display: block;
    font-size: 16px;
    line-height: 25px;
    font-weight: 600;
    text-align: left;
}

.mini_profile_text_sub {
    display: block;
    font-size: 16px;
    line-height: 25px;
    font-weight: 300;
    text-align: left;
}

.btn_compact {
    margin-right: .6rem;
    padding: 6px 13px;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    min-height: 32px;
    background: #fff;
    color: #1a1a1a;
    border-color: rgba(26,26,26,.15);
}

    .btn_compact:hover {
        background-color: #f3f3f3;
    }

.level_right {
    align-items: center;
    justify-content: flex-end;
    max-width: 100%;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
}

.level_right_btn {
    margin-left: .6rem;
}

.level_icon {
    margin-right: 6px;
}

.btn-white {
    background: #fff;
    color: #1a1a1a;
    border-color: rgba(26,26,26,.15);
    padding-top: .6rem;
    padding-bottom: .6rem;
    font-weight: 300;
    padding: 11px 24px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    cursor: pointer;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    margin-right: .6rem;
}

    .btn-white:hover {
        color: #1a1a1a;
        background-color: #f3f3f3;
    }

.btn-green {
    background: #06b995;
    border-color: #05a081;
    color: #fff;
    padding-top: .6rem;
    padding-bottom: .6rem;
    font-weight: 300;
    padding: 11px 24px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    cursor: pointer;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
}

    .btn-green:hover {
        color: #fff;
        background-color: #07c7a1;
    }

.pointer {
    left: auto;
    right: 11px;
    top: -4.5px;
    content: "";
    position: absolute;
    z-index: -1;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 2px;
    transform: rotate( 45deg );
    box-shadow: -3px -3px 5px rgb(82 95 127 / 4%);
}

.h3 {
    display: block;
    font-size: 16px;
    line-height: 25px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
    color: #5e5e5e;
    padding: .6rem 1.15rem;
}

.caret_list {
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 250px;
}

.caret_list_li {
    border-top: 1px solid rgba(26,26,26,.1);
    font-size: 16px;
    line-height: 25px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
    color: #5e5e5e;
    cursor: pointer;
    padding: .6rem 1.15rem;
    border-bottom: 1px solid rgba(26,26,26,.1);
}

    .caret_list_li:last-child {
        border-bottom: none;
    }

.caret_input {
    max-width: 250px;
    display: flex;
}

.caret_input_text {
    margin-right: .5rem;
    flex: 0 1 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #e8e8e8;
    vertical-align: middle;
    width: 50%;
}

.related {
    content: "";
    position: absolute;
    left: 0;
    right: 0px;
    bottom: 0;
    height: 250px;
    background: linear-gradient( 0deg,#fff 0%,rgba(255,255,255,0.5) 30%,rgba(255,255,255,0) 100%);
}

.home_button {
    margin-bottom: 3rem;
    width: 100%;
    background: #e8e8e8;
    color: #333;
    border-color: #e8e8e8;
    font-weight: 300;
    line-height: 1;
    position: relative;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    padding: 11px 24px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
}

    .home_button:hover {
        background-color: #d0d0d0;
    }

.home_button {
    margin-bottom: 3rem;
    width: 100%;
    background: #e8e8e8;
    border-color: #e8e8e8;
    font-weight: 300;
    line-height: 1;
    position: relative;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    padding: 11px 24px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
}

    .home_button a {
        text-decoration: none;
        color: #333;
    }

    .home_button:hover {
        background-color: #d0d0d0;
    }

.section_photo {
    margin: 0px 20px;
    position: relative;
    padding: 0 5px;
}

.section_title {
    margin-bottom: 1.15rem;
}

.h2 {
    display: block;
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}

.section_tag {
    position: relative;
}

.section_ul {
    list-style: none;
    margin: 0;
    padding: 10px 0;
    padding-bottom: 30px;
    margin-bottom: -15px;
    white-space: nowrap;
    overflow-y: auto;
}

    .section_ul li {
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
        border: 1px solid rgba(26,26,26,.2);
        border-radius: 2px;
        padding: .6rem 1.75rem;
        display: inline-block;
        text-transform: capitalize;
        margin-right: 0.6rem;
    }

.overlay {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 5%;
    background: linear-gradient( 270deg,#fff 0%,rgba(255,255,255,0.8) 50%,rgba(255,255,255,0) 100%);
    z-index: 1;
}

